---
Language: C
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SortIncludes: false
IncludeBlocks: Preserve
MaxEmptyLinesToKeep: 2
BinPackArguments: true
BinPackParameters: true
---
